@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;

}

.body-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  justify-content: space-between;
  
}

.navbar{
  background-color: black;
  height: 4rem;
  text-align: center;
  padding: 0.5rem;
  text-align: center;
  
}

.navbar-container{
  width: 90vw;
  background-color:blue;
  height: 100%;
  display: inline-flex;
  align-items: center;

}

.navbar-logo-container{
  display: inline-flex;
  flex: none;
}

.navbar-icon-container{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar-button{
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0rem 0.75rem;
  background-color: transparent;
  border-color: transparent;

}

.main-body-container{
  height: 60vh;
  margin: 2rem 4rem;
  background-color: black;
  display: inline-flex;
  flex-direction: row;
}

.main-body-block{
  border-radius: 50px;
  background-color: white;
  margin: 0.5rem 0.25rem;
  flex-grow: 1;

}

.main-body-block1{

  border-radius: 50px;
  background-color: white;
  flex-grow: 5;
  margin: 0.5rem;
}

.footer-container{
  height: 80px;
  background-color: azure;
  text-align: center;
 
}

.footer-icon-container{
  margin-top: 1rem;
}

.footer-icon{
  margin: 0rem 3px;
}